%section
  .row
    .well
      .col-md-12  
        %p
          For more information please visit #{link_to "our repository", "https://github.com/btcjam/btcjam-client"} and our #{link_to "API FAQ", "https://btcjam.com/faq/api"}
          %br/
  .row
    .col-md-12
      .row
        - unless signed_in?
          .well
            .row
              .col-md-6
                .panel.panel-default
                  .panel-heading 
                    .panel-title.text-center
                      Sign in to explore the OAuth2 API  
                  .panel-body          
                    %p= link_to "Sign in with OAuth 2 provider", user_omniauth_authorize_path(:btcjam),  :class => "btn primary"
              .col-md-4.col-md-offset-2
                .panel.panel-default
                  .panel-heading 
                    .panel-title.text-center
                      Don't have an account? Create it!
                  .form-group.panel-body
           
                    =form_tag( new_user_calls_path(:users)) do
                      .row
                        .col-md-4
                          =label_tag "Username"
                        .col-md-8
                          =text_field_tag :username , '',class: "form-control"
                        .col-md-4
                          =label_tag "Password"
                        .col-md-8
                          =password_field_tag :password ,'',class: "form-control"
                        %br/
                        %br/
                        .col-md-12.text-center
                          =submit_tag "Create User" , class: "btn btn-default" 
          %br/ 
        - else
          %h2 BTCJam OAuth2 API
          .well 
            %p
              You are logged in as: <strong>#{current_user.oauth_info("alias")}</strong>
              %ul 
                %li BTCJam score: <strong>#{current_user.oauth_info("btcjam_score")}</strong> 
            %p
              = link_to "User Information", authenticated_calls_path(:me), :class => "btn", "data-explore" => []
              = link_to "My Open Listings", authenticated_calls_path(:my_open_listings), :class => "btn", "data-explore" => []
              = link_to "My Receivables", authenticated_calls_path(:my_receivables), :class => "btn", "data-explore" => []
              = link_to "My Payables", authenticated_calls_path(:my_payables), :class => "btn", "data-explore" => []
              = link_to "Invest", invest_call_path(:investments, {:listing_id => 1, :amount => 0.1}), :class => "btn", "data-explore" => []
              = link_to "Sign out", "/logout", :class => "btn primary", :method => :delete 
            %br/
            %p
              = link_to "My ID Checks", authenticated_calls_path(:identity_checks), :class => "btn", "data-explore" => []
              = link_to "My Address Checks", authenticated_calls_path(:addr_checks), :class => "btn", "data-explore" => []
              = link_to "My Credit Checks", authenticated_calls_path(:credit_checks), :class => "btn", "data-explore" => []
            .row 
              .col-md-12
                %h3.text-center
                  Submit your documents via API
            = render partial: 'checks_forms'

    .col-md-12
      %h2 BTCJam JSON API
      .well
        %table.table.table-striped.table-bordered
          %thead
            %tr

              %th Request Format
          %tbody
            %tr

              %td https://btcjam.com/api/v1/listings?appid=[<strong>APP ID</strong>]&secret=[<strong>APP Secret</strong>]

        %p
        = link_to "Query All Open Listings", open_calls_path(:listings), :class => "btn", "data-explore" => []
        = link_to "Query All Open Listings", open_calls_path(:listingsFilter), :class => "btn", "data-explore" => []
        %br/
        %br/
        %br/


  .row
    .col-md-12
      %p
        %pre#display-json
          Select one of the api methods above
:javascript
  $( document ).ready(function() {
   populateLists("#{BTCJAM_APP_URL}",'listings', "#{BTCJAM_APP_ID}", "#{BTCJAM_APP_SECRET}")
  });